@import url(./settings/reset.css);
@import url(./settings/var.css);
@import url(./text.css);

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
}
#teste{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
#header{
    margin: 6rem auto;
    z-index: 6;
}
#content-header{
    display: flex;
    flex-direction: column;
    gap: 3rem
}
#logo{
    border: 1rem solid var(--orange);
    border-radius: 50%;

    height: 350px;
    width: auto;

    box-shadow: 0 0 20px var(--orange);
}


#content{
    margin-bottom: 6rem;
    z-index: 6;
}
.list{
    list-style: none;
    text-decoration: none;
}
.list-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
}
.link{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: var(--white);

    padding: 4rem 18rem;

    background-color: var(--orange-dark);
    border-radius: 6px;
    transition: 200ms;
}
.link:hover{
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0 0 20px var(--orange);
}

#end{
    padding: 4rem 0 5rem;
    opacity: 0.5;
    z-index: 6;
}
.text-end{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: var(--white);

    transition: 400ms;
}
#end:hover{
    opacity: 1;
}
.text-end:hover{
    color: var(--clear-purple);
}