@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}
h2{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--orange);
    padding-top: 0.7rem;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: var(--white);
}
